<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.15">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.2.5"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.2.5">
      <jobProperties/>
      <triggers/>
      <parameters/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <alex.jenkins.plugins.FileSystemListParameterDefinition plugin="filesystem-list-parameter-plugin@0.0.3">
          <name>app</name>
          <description></description>
          <path>/Users/MacBookPro/Cloud/MEGA/Git/cordova/</path>
          <selectedType>ALL</selectedType>
          <sortByLastModified>false</sortByLastModified>
          <sortReverseOrder>false</sortReverseOrder>
          <selectedEnumType>ALL</selectedEnumType>
          <regexIncludePattern></regexIncludePattern>
          <regexExcludePattern></regexExcludePattern>
          <formatter>
            <a class="string-builder"></a>
            <l>en_ID</l>
            <zero>0</zero>
          </formatter>
        </alex.jenkins.plugins.FileSystemListParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.42">
    <script>
pipeline {
    agent any

    stages {
        stage(&apos;Build&apos;) {
            steps {
                sh &apos;&apos;&apos;
# Install Cordova
sudo npm list cordova || npm install -g cordova

# Creating a new cordova project
cd
mkdir -p ~/project/js/cordova
rm -rf ~/project/js/cordova/MutualFunds
#cordova create ~/project/js/cordova/MutualFunds
cordova create ~/project/js/cordova/MutualFunds com.$app.mutualfunds MutualFunds

# Creating Cordova project for the Android platform
cd ~/project/js/cordova/MutualFunds
cordova platform add android
#cordova platform add browser
#cordova platform add ios

# Add Cordova Plugins
cordova plugin add https://git-wip-us.apache.org/repos/asf/cordova-plugin-dialogs.git
cordova plugin add https://git-wip-us.apache.org/repos/asf/cordova-plugin-network-information.git
cordova plugin add https://git-wip-us.apache.org/repos/asf/cordova-plugin-splashscreen.git

# Rsync
rsync -ravz ~/Cloud/MEGA/Git/cordova/MutualFunds ~/project/js/cordova/

# Build Cordova
cordova build
#cordova build browser
#cordova build android
#cordova build ios

# Run Cordova
#cordova run browser
#cordova run android
#cordova run ios

# Grab Apk At
#~/project/js/cordova/MutualFunds/platforms/android/build/outputs/apk/android-debug.apk
&apos;&apos;&apos;
            }
        }
        stage(&apos;Test&apos;) {
            steps {
                echo &apos;Testing..&apos;
            }
        }
        stage(&apos;Deploy&apos;) {
            steps {
                echo &apos;Deploying....&apos;
            }
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>