<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.15">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.2.5"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.2.5">
      <jobProperties/>
      <triggers/>
      <parameters/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <alex.jenkins.plugins.FileSystemListParameterDefinition plugin="filesystem-list-parameter-plugin@0.0.3">
          <name>app</name>
          <description></description>
          <path>/Users/MacBookPro/Cloud/MEGA/Git/cactus/</path>
          <selectedType>ALL</selectedType>
          <sortByLastModified>false</sortByLastModified>
          <sortReverseOrder>false</sortReverseOrder>
          <selectedEnumType>ALL</selectedEnumType>
          <regexIncludePattern></regexIncludePattern>
          <regexExcludePattern></regexExcludePattern>
          <formatter>
            <a class="string-builder"></a>
            <l>en_ID</l>
            <zero>0</zero>
          </formatter>
        </alex.jenkins.plugins.FileSystemListParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.42">
    <script>
pipeline {
    agent any

    stages {
        stage(&apos;Install Package on Virtual Environment&apos;) {
            steps {
                sh &apos;&apos;&apos;
# Create Virtual Environment
mkdir -p ~/project
cd ~/project
virtualenv --no-site-packages python
source python/bin/activate

# Install Package
pip list | grep Cactus || easy_install cactus
&apos;&apos;&apos;
            }
        }
        stage(&apos;Create Site&apos;) {
            steps {
                sh &apos;&apos;&apos;
# Create Site
#cd ~/project
#source python/bin/activate
#cactus create ~/project/python/cactus/$app
&apos;&apos;&apos;
            }
        }
        stage(&apos;Install App&apos;) {
            steps {
                sh &apos;&apos;&apos;
# Install App
rm -rf ~/project/python/cactus/$app
mkdir -p ~/project/python/cactus/$app
rsync -avzr ~/Cloud/MEGA/Git/cactus/$app/* ~/project/python/cactus/$app/
&apos;&apos;&apos;
            }
        }
        stage(&apos;Serve Site&apos;) {
            steps {
                sh &apos;&apos;&apos;
# Serve Site
#cd ~/project
#source python/bin/activate
#cd ~/project/python/cactus/$app
#cactus serve

# Access via Browser
#http://localhost:8000
&apos;&apos;&apos;
            }
        }
        stage(&apos;Build&apos;) {
            steps {
                sh &apos;&apos;&apos;
# Build
cd ~/project
source python/bin/activate
cd ~/project/python/cactus/$app
cactus build
&apos;&apos;&apos;
            }
        }
        stage(&apos;Check generated files&apos;) {
            steps {
                sh &apos;&apos;&apos;
# Check generated files
du -hsc ~/project/python/cactus/$app/.build/
&apos;&apos;&apos;
            }
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>