<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.15">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.2.5"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.2.5">
      <jobProperties/>
      <triggers/>
      <parameters/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <alex.jenkins.plugins.FileSystemListParameterDefinition plugin="filesystem-list-parameter-plugin@0.0.3">
          <name>app</name>
          <description></description>
          <path>/Users/MacBookPro/Cloud/MEGA/Git/harp/</path>
          <selectedType>ALL</selectedType>
          <sortByLastModified>false</sortByLastModified>
          <sortReverseOrder>false</sortReverseOrder>
          <selectedEnumType>ALL</selectedEnumType>
          <regexIncludePattern></regexIncludePattern>
          <regexExcludePattern></regexExcludePattern>
          <formatter>
            <a class="string-builder"></a>
            <l>en_ID</l>
            <zero>0</zero>
          </formatter>
        </alex.jenkins.plugins.FileSystemListParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.42">
    <script>
pipeline {
    agent any

    stages {
        stage(&apos;Install Package&apos;) {
            steps {
                sh &apos;&apos;&apos;
# Install Package
mkdir -p ~/project/js/harp
cd ~/project/js/harp
npm list harp || npm install harp
&apos;&apos;&apos;
            }
        }
        stage(&apos;Initialize Site&apos;) {
            steps {
                sh &apos;&apos;&apos;
# Initialize Site
#node_modules/.bin/harp init $app
&apos;&apos;&apos;
            }
        }
        stage(&apos;Install App&apos;) {
            steps {
                sh &apos;&apos;&apos;
# Install App
mkdir -p ~/project/js/harp/$app/
rm -rf ~/project/js/harp/$app/*
rsync -avuzr ~/Cloud/MEGA/Git/harp/$app/* ~/project/js/harp/$app/
&apos;&apos;&apos;
            }
        }
        stage(&apos;Run App&apos;) {
            steps {
                sh &apos;&apos;&apos;
# Run App
#cd ~/project/js/harp/
#node_modules/.bin/harp server $app

# Check App on Browser
#http://localhost:9000
&apos;&apos;&apos;
            }
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>